.container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  line-height: 1.6;
  color: #333; /* Text color */
  background-color: #f9f9f9; /* Background color */
  border: 1px solid #ccc; /* Border */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
}

header {
  text-align: center;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h2 {
  background-color: #97c298; /* Background color */
  color: #786a6a; /* Text color */
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  font-size: small;
}

strong {
  font-weight: bold;
}
